@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Lora&family=Poppins&family=Shadows+Into+Light&family=Twinkle+Star");
.font-lora {
  font-family: "Lora", cursive;
}

.font-lobster {
  font-family: "Lobster", cursive;
}

.font-shadows {
  font-family: "Shadows Into Light", cursive;
}

.font-star {
  font-family: "Twinkle Star", cursive;
}

.font-fjalla {
  font-family: "Fjalla One", cursive;
}

.font-bernard {
  font-family: "Bernard MT Condensed", "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.font-century {
  font-family: "Century Gothic", "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-6vw {
  font-size: 6vw;
}

.font-size-2vw {
  font-size: 2vw;
}

.color-1 {
  background-color: #e0e0e0;
}

.color-2 {
  background-color: #f5e8fd !important;
}

.color-3 {
  background-color: #002fff;
}

.color-4 {
  background-color: #faf2ff;
}

.color-5 {
  background-color: #f0d9ff;
}

.color-6 {
  background-color: rgba(235, 235, 235, 0.582);
}

.color-3-text {
  color: #002fff;
}

.banner-text-right {
  position: absolute;
  top: 15%;
  left: 37%;
  padding-right: 20px;
  text-align: left;
}

.banner-text-left {
  position: absolute;
  top: 15%;
  left: 50px;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

input, textarea {
  border: 0.1px solid black !important;
}

textarea {
  border-radius: 0.25rem;
  resize: none;
}

button {
  border: 0px;
  background-color: transparent;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:checked[type=checkbox], input:checked[type=radio] {
  background-color: black !important;
}

input[type=number], select {
  border: 1px solid black !important;
}

input:disabled {
  border: 1px solid #ddd !important;
  color: grey;
}

select:disabled {
  opacity: 0.5;
  border: 0px !important;
  background-color: #cbced1e8 !important;
}

select:not(select[multiple]) option {
  background-color: black;
  color: white;
}

h1, h2, h3, h4 {
  cursor: default;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3289c8;
}

/* scrollbar */
.dropdown-box {
  left: auto !important;
  right: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.width-200 {
  width: 200px;
}

.height-30 {
  height: 30px;
}

.required-star {
  color: red;
}

.background-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input {
  width: 623.64px;
}

.width-100p {
  width: 100%;
}

.red-box-shadow {
  box-shadow: 0 0 2px red;
}

.transition {
  transition: all 0.5s ease;
}

.table {
  margin-top: 30px;
  width: 100%;
}

#img-preview {
  width: 100px;
  height: 100px;
  border: 1px solid #858585;
}

#cover-photo-preview {
  width: 300px;
  height: 100px;
  border: 1px solid #858585;
}

.photo-preview {
  min-width: 100px;
  height: 100px;
  max-width: 300px;
  border: 1px solid #858585;
}

.custom-form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  appearance: none;
  border-radius: 0.25rem;
}

.box-style {
  background-color: #fafafa;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-decoration-line-through {
  text-decoration-color: RGB(220, 53, 69) !important;
}

.toast-body {
  background-color: white;
  min-height: 75px;
}

.toast {
  border-left: 10px solid red;
}

.dataTables_length {
  margin-bottom: 15px;
}

.dataTables_length select {
  margin-left: 5px;
  margin-right: 5px;
}

.dataTables_filter input {
  margin-left: 10px !important;
}

#top-rated .owl-carousel .item a img,
#on-promotion .owl-carousel .item a img,
#most-favoured .owl-carousel .item a img,
#new-restaurants .owl-carousel .item a img {
  transition: transform 0.5s ease;
}
#top-rated .owl-carousel .item a img:hover,
#on-promotion .owl-carousel .item a img:hover,
#most-favoured .owl-carousel .item a img:hover,
#new-restaurants .owl-carousel .item a img:hover {
  transform: scale(1.1);
}
#top-rated .owl-carousel .owl-nav button,
#on-promotion .owl-carousel .owl-nav button,
#most-favoured .owl-carousel .owl-nav button,
#new-restaurants .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-rated .owl-carousel .owl-nav button.owl-prev,
#on-promotion .owl-carousel .owl-nav button.owl-prev,
#most-favoured .owl-carousel .owl-nav button.owl-prev,
#new-restaurants .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-rated .owl-carousel .owl-nav button.owl-next,
#on-promotion .owl-carousel .owl-nav button.owl-next,
#most-favoured .owl-carousel .owl-nav button.owl-next,
#new-restaurants .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-rated .owl-carousel .owl-nav button.owl-prev span,
#top-rated .owl-carousel .owl-nav button.owl-next span,
#on-promotion .owl-carousel .owl-nav button.owl-prev span,
#on-promotion .owl-carousel .owl-nav button.owl-next span,
#most-favoured .owl-carousel .owl-nav button.owl-prev span,
#most-favoured .owl-carousel .owl-nav button.owl-next span,
#new-restaurants .owl-carousel .owl-nav button.owl-prev span,
#new-restaurants .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
}
#top-rated .owl-carousel .owl-nav button.owl-prev span,
#on-promotion .owl-carousel .owl-nav button.owl-prev span,
#most-favoured .owl-carousel .owl-nav button.owl-prev span,
#new-restaurants .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -60px;
}
#top-rated .owl-carousel .owl-nav button.owl-next span,
#on-promotion .owl-carousel .owl-nav button.owl-next span,
#most-favoured .owl-carousel .owl-nav button.owl-next span,
#new-restaurants .owl-carousel .owl-nav button.owl-next span {
  margin-right: -60px;
}

.blur {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.unscroll {
  height: 100%;
  overflow-y: hidden;
}

.popout-animation {
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;
}

.popout-animation-reverse {
  animation: popout-reverse 1s ease;
  -webkit-animation: popout-reverse 1s ease;
}

@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popout-reverse {
  to {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  from {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes popout-reverse {
  to {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  from {
    -webkit-transform: scale(1);
  }
}
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.side-bar-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 0;
  width: 100%;
  min-height: calc(100vh - 76px);
  display: flex;
}

.side-bar-body .side-bar {
  width: 80px;
  background: #faf2ff;
  top: 0;
  left: 0;
  min-height: 100%;
  flex-shrink: 0;
}

.side-bar-body .side-bar.active {
  width: 240px;
}

@media (max-width: 482px) {
  .side-bar-body .side-bar {
    pointer-events: none;
    opacity: 0;
    width: 0 !important;
  }

  .side-bar-body .side-bar ~ .content {
    margin-left: unset !important;
    padding-left: 1.5rem !important;
    pointer-events: auto;
    opacity: 1;
    display: block !important;
  }

  .side-bar-body .side-bar ~ .content.active {
    pointer-events: none;
    opacity: 0;
    display: none !important;
  }

  .side-bar-body .side-bar.active {
    width: 100% !important;
    pointer-events: auto;
    opacity: 1;
  }

  .side-bar-body .side-bar.active .dropdown-container.active {
    width: 100% !important;
  }
}
.side-bar .profile-content {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 6px;
  height: 110px;
  white-space: nowrap;
  pointer-events: none;
  display: none;
}

.side-bar.active .profile-content {
  display: block;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  padding-left: 10px;
  padding-top: 5px;
}

.profile img {
  width: 50px;
  margin-left: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.profile div {
  padding-left: 10px;
}

.search {
  height: 50px;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 6px 14px;
}

.search input {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: none;
  padding-left: 50px;
  font-size: 18px;
}

.search .search-btn {
  position: relative;
  top: -38px;
  left: 18px;
  font-size: 18px;
}

.side-bar ul {
  padding-left: 0;
}

.side-bar ul li {
  height: 50px;
  width: 80px;
  list-style: none;
  position: relative;
  margin: 0;
  transition: all 0.4s ease;
  align-items: center;
  white-space: nowrap;
  line-height: 50px;
}

.side-bar ul li a,
.dropdown-btn {
  padding-left: 30px;
  width: 100%;
  display: block;
}

.dropdown-container li {
  width: 100% !important;
}

.side-bar.active ul li {
  width: 100%;
}

.side-bar ul li:hover {
  background: rgba(219, 179, 255, 0.659);
}

.side-bar ul li i {
  min-width: 30px;
  border-radius: 12px;
}

.side-bar ul li .tool-tip {
  position: absolute;
  left: 85px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: black;
  color: white;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  display: block;
  z-index: 1;
}

.side-bar.active ul li .tool-tip {
  display: none;
}

.side-bar ul li:hover .tool-tip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.side-bar.active .nav-element-name {
  pointer-events: none;
  display: inline;
}

.side-bar .nav-element-name {
  pointer-events: auto;
  display: none;
}

.content {
  margin-left: -80px;
  padding-left: calc(80px + 1.25rem) !important;
  width: 100%;
  min-height: 100%;
}

.content.active {
  margin-left: -240px;
  padding-left: calc(240px + 1.25rem) !important;
}

.side-bar.active .fa-caret-up {
  float: right;
  padding-right: 8px;
  line-height: 50px;
  display: block;
}

.side-bar .fa-caret-up {
  display: none;
}

.side-bar.active .fa-caret-down {
  float: right;
  padding-right: 8px;
  line-height: 50px;
  display: block;
}

.side-bar .fa-caret-down {
  display: none;
}

.dropdown-container {
  display: none;
}

.dropdown-container.active {
  display: block;
}

.side-bar .dropdown-container.active {
  position: absolute;
  width: 240px;
  left: 80px;
  top: 0;
  background-color: #f5e8fd;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  clip-path: inset(-5px -5px -5px 0px);
}

.dropdown-parent-container {
  position: relative;
}

.side-bar.active .dropdown-container.active {
  position: static;
  box-shadow: 0 0 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#nav-bar-dropdown::after {
  border: 0;
}

#nav-bar-dropdown-menu {
  min-width: 320px;
}

#nav-bar-dropdown-menu p {
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
