.font-lora{
    font-family: $font-lora;
}

.font-lobster{
    font-family: $font-lobster;
}

.font-shadows{
    font-family: $font-shadows;
}

.font-star{
    font-family: $font-star;
}

.font-fjalla{
    font-family: $font-fjalla;
}

.font-bernard{
    font-family: "Bernard MT Condensed", "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.font-century{
    font-family: "Century Gothic", "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.font-size-12{
    font-size: 12px;
}

.font-size-13{
    font-size: 13px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-18{
    font-size: 18px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-22{
    font-size: 22px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-28{
    font-size: 28px;
}

.font-size-35{
    font-size: 35px;
}

.font-size-6vw{
    font-size: 6vw;
}

.font-size-2vw{
    font-size: 2vw;
}

.color-1{
    background-color: $color-1;
}

.color-2{
    background-color: $color-2 !important;
}

.color-3{
    background-color: $color-3;
}

.color-4{
    background-color: $color-4;
}

.color-5{
    background-color: $color-5;
}

.color-6{
    background-color: $color-6;
}

.color-3-text{
    color: $color-3;
}

.banner-text-right {
	position: absolute;
    top: 15%;
    left: 37%;
    padding-right: 20px;
	text-align: left;
}

.banner-text-left {
	position: absolute;
	top: 15%;
	left: 50px;
	text-align: left;
}

h1, h2, h3, h4, h5, h6{
    cursor: default;
}