$font-lora:"Lora",cursive;
$font-lobster:"Lobster",cursive;
$font-shadows:"Shadows Into Light",cursive;
$font-star:"Twinkle Star",cursive;
$font-fjalla:"Fjalla One", cursive;
$color-1: rgb(224, 224, 224);
$color-2: rgb(245, 232, 253);
$color-3: rgb(0, 47, 255);
$color-4: rgb(250, 242, 255);
$color-5: rgb(240, 217, 255);
$color-6: rgba(235, 235, 235, 0.582);